
/* Needed for util-ui/FileSelector.jsx */
.modal-full-height {
    height: calc(100% - 3.5em);
}
/* End util-ui/FileSelector.jsx */


/* Needed for util-ui/CellTextEditor.jsx */
.cellTextEditor-textInput {
    margin: 0px;
    padding: 0px 2px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.cellTextEditor-textDisplay {
    border: none;
    background-color: inherit;
    border-radius: 0;
}
/* End util-ui/CellTextEditor.jsx */


/* Needed for util-ui/CellSelectEditor.jsx */
.cellSelectEditor-select {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.cellSelectEditor-display {
    border: none;
    background-color: inherit;
    border-radius: 0;
}
/** End util-ui/CellSelectEditor.jsx */


/** Needed for util-ui/CurrencyDisplay.jsx */
.currencyDisplay {
    text-align: right;
}
/** End util-ui/CurrencyyDisplay.jsx */


/** Needed for util-ui/Dropdown.jsx */
.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}
/** End util-ui/Dropdown.jsx */


/** Needed for util-ui/MenuList.jsx */
.dropdown-submenu {
    position: relative;
}

/* This puts a right pointing arrow at the right side */
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}
/** End util-ui/MenuList.jsx */


.field-input-form-control {
    flex: 1 1 0%;
    width: 100%;
}


/** Needed for util-ui/RowTable.jsx */
.RowTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.RowTableCell {
    padding: .3rem; /* or .75 */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.RowTableHeader {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableHeaderRow {
    display: flex;
    flex-wrap: nowrap;
}

.RowTableHeaderCell {
}

.RowTableBody {
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: hidden;
}

.RowTableRow {
    display: flex;
    flex-wrap: nowrap;
}

.table-striped .RowTableRow:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-active .RowTableRow, .table-active>.RowTableRowCell {
    background-color: rgba(0, 0, 0, 0.075);
}

.RowTableRowCell {

}

.RowTableFooter {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableFooterRow {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    overflow: hidden;
}

.RowTableFooterCell {

}

/** End util-ui/RowTable.jsx */


/** Needed for util-ui/DropdownField.jsx */
.scrollable-menu {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
}
/** End util-ui/DropdownField.jsx */
  

/** Needed for util-ui/QuantityDisplay.jsx */
.quantityDisplay {
    text-align: right;
}
/** End util-ui/QuantityDisplay.jsx */


/** Used by util-ui/TabbedPages.jsx */
.tabCloseButton {
    margin-left: 0.5rem;
}
/** End util-ui/TabbedPages.jsx */


.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}
