/* Used by FileSelector */
.Modal-full-height {
    height: calc(100% - 3.5em);
}


/* BS btn */
.Btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s 
        ease-in-out,background-color .15s
        ease-in-out,border-color .15s
        ease-in-out,box-shadow .15s
        ease-in-out;
}

.Btn.disabled, .Btn:disabled {
    opacity: .65;
}

.Btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.Btn-block {
    display: block;
    width: 100%;
}

.Btn-block+.Btn-block {
    margin-top: .5rem;
}

.Btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.Btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.Btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.Btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.Btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.Btn.disabled,
.Btn:disabled {
    opacity: .65;
}

.Btn-primary.disabled,
.Btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.Btn-secondary.disabled, 
.Btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.Btn-group-sm>.Btn, .Btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


/* BS close */
.Close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.Close {
    padding: 0;
    background-color: transparent;
    border: 0;
}


/* BS container, container-fluid */
.Container, .Container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* BS col */
.Col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

/* BS col-auto */
.Col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.Col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.Col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.Col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.Col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.Col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.Col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.Col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.Col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.Col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.Col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.Col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.Col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


/* BS row */
.Row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Alignment along the cross axis for all direct children as a group */
.Row-align-items-start, .FlexC-align-items-start {
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}
.Row-align-items-end, .FlexC-align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.Row-align-items-center, .FlexC-align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.Row-align-items-stretch, .FlexC-align-items-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}


/* Alignment along the main axis */
.Row-justify-content-start, 
.FlexC-justify-content-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.Row-justify-content-end, 
.FlexC-justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.Row-justify-content-center, 
.FlexC-justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.Row-justify-content-stretch, 
.FlexC-justify-content-stretch {
    -ms-flex-pack: stretch!important;
    justify-content: stretch!important;
}

.Row-justify-content-between, 
.FlexC-justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.Row-justify-content-around, 
.FlexC-justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.Row-justify-content-evenly, 
.FlexC-justify-content-evenly {
    -ms-flex-pack: distribute!important;
    justify-content: space-evenly!important;
}


/* FlexC are applied to the flex container */
/* Flexbox container */
.FlexC {
    display: flex!important;
}

/* Flow direction */
.FlexC-column {
    flex-direction: column!important;
}
.FlexC-column-reverse {
    flex-direction: column-reverse!important;
}
.FlexC-row {
    flex-direction: row!important;
}
.FlexC-row-reverse {
    flex-direction: row-reverse!important;
}

/* Wrap onto multiple lines */
.FlexC-wrap {
    flex-wrap: wrap!important;
}
.FlexC-nowrap {
    flex-wrap: nowrap!important;
}
.FlexC-wrap-reverse {
    flex-wrap: wrap-reverse!important;
}


/* Cross-axis alignment */
.FlexC-cross-align-content-start {
    -ms-flex-line-pack: start!important;
    align-content: flex-start!important;
}
.FlexC-cross-align-content-end {
    -ms-flex-line-pack: end!important;
    align-content: flex-end!important;
}
.FlexC-cross-align-content-center {
    -ms-flex-line-pack: center!important;
    align-content: center!important;
}
.FlexC-cross-align-content-stretch {
    -ms-flex-line-pack: stretch!important;
    align-content: stretch!important;
}
.FlexC-cross-align-content-between {
    -ms-flex-line-pack: justify!important;
    align-content: space-between!important;
}
.FlexC-cross-align-content-around {
    -ms-flex-line-pack: distribute!important;
    align-content: space-around!important;
}
.FlexC-cross-align-content-evenly {
    -ms-flex-line-pack: distribute!important;
    align-content: space-evenly!important;
}


/* FlexI are for items in a flex container */
.FlexI-grow-0 {
    flex-grow: 0!important;
}
.FlexI-grow-1 {
    flex-grow: 1!important;
}
.FlexI-grow-2 {
    flex-grow: 2!important;
}

.FlexI-shrink-0 {
    flex-shrink: 0!important;
}
.FlexI-shrink-1 {
    flex-shrink: 1!important;
}

.FlexI-align-self-start {
    align-self: flex-start!important;
}
.FlexI-align-self-end {
    align-self: flex-end!important;
}



/* BS no-gutters */
.No-gutters {
    margin-left: 0;
    margin-right: 0;
}

/* BS d-none */
.D-none {
    display: none!important;
}

/* BS dropdown-menu-right */
.Dropdown-menu-right {
    right: 0;
    left: auto;
}

/* BS flex-row */
.Flex-row {
    flex-direction: row!important;
}

/* BS form-row */
.Form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* BS justify-content-center */
.Justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

/* BS table */
.Table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}


/* Originally from BS form-control */
.Cell {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
        ease-in-out,box-shadow .15s
        ease-in-out;
}


.Input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.Input-group-append {
    margin-left: -1px;
}

.Input-group-prepend {
    margin-right: -1px;
}

.Input-group-append, 
.Input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.Input-group>.Cell {
    position: relative;
    -ms-flx: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.Input-group>.Input-group-prepend>.Btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Input-group>.Input-group-append>.Btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.Input-group-append .Btn,
.Input-group-prepend .Btn {
    position: relative;
    z-index: 2;
}

.Input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Input-group>.form-control,
.Input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}



.Cell:disabled, .Cell[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.Cell.is-invalid, .was-validated .Cell:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem)
        calc(.75em + .375rem);
}

.is-invalid-.invalid-feedback,
.is-invalid-.invalid-tooltip,
.was-validated:invalid-.invalid-feedback,
.was-validated:invalid-.invalid-tooltip {
    display: block;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.CellButton {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 1;
    color: #007bff;
}

.CellButton:focus {
    color: #007bff;
}


.CellDateEditor-textInput {
    margin: 0px;
    padding: 0px 2px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}


.CellTextEditor-textInput {
    margin: 0px;
    padding: 0px 2px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.CellTextEditor-textDisplay {
    border: none;
    background-color: inherit;
    border-radius: 0;
}


.CellSelectEditor-select {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.CellSelectEditor-display {
    border: none;
    background-color: inherit;
    border-radius: 0;
}
/*
.CellToggleSelectEditor-button {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 1;
}
*/



/*
 A plain Checkbox button, 
 "Checkbox" displays only the box
 "Checkbox Checkbox-checked" displays the box checked.
*/
.Checkbox {
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
}
.Checkbox::before {
    font-weight: 600;
}

.Checkbox-checked::before {
    content: '✓';
    position: relative;
    top: -2px;
}

.Checkbox-label {
    padding-left: 0.5rem;
}


.CheckboxField-editor {
    padding-top: 0.5rem;
    border: none;
}


.DateField-editor {
    text-align: center;
    max-width: 7rem;
}

.DateOccurrenceEditor-NumberField {
    max-width: 5rem;
    text-align: right;
}



.DropdownSelector-dropdownList {
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}


.Field-input-form-control {
    flex: 1 1 0%;
    width: 100%;
}

/** For indenting a Field component from the previous component 
that's on the same line */
.Field-indent {
    padding-left: 2rem;
}

/** For putting wide space after a Field component */
.Field-postIndent {
    padding-right: 2rem;
}

/** For putting a single space after a Field component */
.Field-postSpace {
    padding-right: 1rem;
}

/** For a container of Field components on the same line */
.FieldContainer-inline {
    display: flex !important;
}

/** For edit boxes in a field */
.Field-editor {
    height: calc(1.5em + .75rem + 2px);
    padding-left: .25rem;
    padding-right: .25rem;
}

/** For text in a field that's on the same line,
from BS col-form-label */
.Field-inline-text {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}


.InfoReporter-body {
    margin-left: 2rem;
    margin-right: 2rem;
}


/*
.MenuList {
}
*/

.MenuList-itemsContainer {
    height: auto;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding-top: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.MenuList-itemsContainer:focus {
    outline: none;
}

.MenuList-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.MenuList-item.active, .MenuList-submenu.active {
    background-color: rgba(0, 0, 0, 0.075);
    text-decoration: none !important;
    color: inherit !important;
}

.MenuList-item.disabled, .MenuList-submenu.disabled {
    color: #6c757d !important;
    pointer-events: none;
    background-color: transparent;
    text-decoration: none !important;
}

.MenuList-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.MenuList-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

.MenuList-submenu {
    position: relative;
    text-align: left;
}

/* This puts a right pointing arrow at the right side */
.MenuList-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.MenuList-submenu .MenuList {
    top: 0;
    left: 100%;
    margin-top: -1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

/*
.MenuList-submenu:hover > .MenuList {
    display: block;
}
*/


.MultiColumnList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}



.PageBody {
    overflow: auto;
}


.Popup {
    display: none;
    height: auto;
}

.Popup.show {
    display: block;
}

.Popup-container {
    position: fixed;
    /*top: 100%;*/
    /*left: 0;*/
    z-index: 1000;
    float: left;
    min-width: 10rem;
    /*padding: .5rem 0;
    margin: .125rem 0 0;*/
}

.Popup-pointer {
    position: absolute;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

.Popup-pointer.left {
    right: 100%;
    border-right-color: #555;
}

.Popup-pointer.right {
    left: 100%;
    border-left-color: #555;
}

.Popup-pointer.top {
    bottom: 100%;
    border-bottom-color: #555;
}

.Popup-pointer.bottom {
    top: 100%;
    border-top-color: #555;
}

.Popup-pointerContainer {
    display: flex;
}

.Popup-pointerContainer.left {
    flex-direction: row;
}

.Popup-pointerContainer.right {
    flex-direction: row;
}

.Popup-pointerContainer.top {
    flex-direction: column;
}

.Popup-pointerContainer.bottom {
    flex-direction: column;
}


.RowTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden;

    margin-bottom: 1rem;
    color: #212529;
}

.RowTableCell {
    padding: .3rem; /* or .75 */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.RowTableHeader {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableHeaderRow {
    display: flex;
    flex-wrap: nowrap;
}


.RowTableHeaderCell {
    height: max-content;
}


.RowTableBody {
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: hidden;
}

.RowTableRow {
    display: flex;
    flex-wrap: nowrap;
}

.RowTableBody:focus {
    outline: none;
}

.RowTable-striped .RowTableRow:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.RowTable-active .RowTableRow, .RowTable-active>.RowTableRowCell {
    background-color: rgba(0, 0, 0, 0.075);
}

/*
.RowTableRowCell {
}
*/

.RowTableFooter {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableFooterRow {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    overflow: hidden;
}


.RowTableFooterCell {
    height: max-content;
}


.RowTableColumnResizerCell {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.RowTableHeaderCell .RowTableColumnResizerCell .RowTableColumnResizer {
    border-color:rgba(0, 0, 0, .15);
    border-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
}

.RowTableColumnResizerCell-cell {
    width: 100%;
}

.RowTableColumnResizer {
    margin-left: 4px;
    padding-left: 1px;
    padding-right: 0px;
    text-align: right;
}

.RowTableColumnResizer.enabled:hover {
    cursor: col-resize;
    border-color: #007bff;
    border-style: solid;
    background-color: #007bff;
}

.RowTableColumnResizerTracker {
    background-color: #007bff;
    margin-left: 0px;
    padding-left: 1px;
    padding-right: 0px;
    z-index: 1000;
}


.RowTableColumnMover {
    width: 100%;
    height: 100%;
}

.RowTableColumnMover.enabled:hover {
    cursor: grab;
}

.RowTableColumnMover.enabled.tracking:hover {
    cursor: grabbing;
}

.RowTableColumnMoverTracker {
    background-color: #007bff42;
    margin-left: 0px;
    padding-left: 1px;
    padding-right: 0px;
    z-index: 1000;
}

/*
.RowTableFooterCell {

}
*/


.RowTableCell .invalid-feedback {
  opacity: 1.0;
  background-color: white;
  z-index: 1000;
}


.CollapsibleRowTable-expand-collapse-container {
    display: flex;
    flex-direction: row;
}

.CollapsibleRowTable-expand-collapse-button {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px #fff;
    background-color: transparent;
    opacity: 0.5;
    line-height: 1.5rem;
    padding: 0;
}


.Scrollable-menu {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
  

.QuantityDisplay {
    text-align: right;
}


.SeparatorBar {
    border-bottom: 1px solid #dee2e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.TabCloseButton {
    margin-left: 0.5rem;
}



.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip-popup {
    /* Need hidden to avoid hover on the popup */
    visibility: hidden;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in 1s;
}

.Tooltip-detector:hover + .Tooltip-popup {
    visibility: visible;
    opacity: 1;
}

.Tooltip-content {
    width: max-content;

    padding: 5px;
    margin: 0;

    font-size: 1rem;
    color: #fff;
    text-align: center;

    background-color: #555;
    border-radius: 6px;
}


/* text-align helpers */
.Text-center {
    text-align: center!important;
}

.Text-justify {
    text-align: justify!important;
}

.Text-justify-all {
    text-align: justify-all!important;
}

.Text-left {
    text-align: left!important;
}

.Text-right {
    text-align: right!important;
}

.Text-start {
    text-align: start!important;
}

.Text-end {
    text-align: end!important;
}


/* vertical-align helpers */
.VAlign-baseline {
    vertical-align: baseline!important;
}

.VAlign-bottom {
    vertical-align: bottom!important;
}

.VAlign-middle {
    vertical-align: middle!important;
}

.VAlign-sub {
    vertical-align: sub!important;
}

.VAlign-super {
    vertical-align: super!important;
}

.VAlign-text-bottom {
    vertical-align: text-bottom!important;
}

.VAlign-text-top {
    vertical-align: text-top!important;
}

.VAlign-top {
    vertical-align: top!important;
}


.Visibility-hidden {
    visibility: hidden !important;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}


/* TEMP STUFF !!! From BS */
/*

.input-group-append {
    margin-left: -1px;
}
.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}
*/
/*
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
        ease-in-out,box-shadow .15s
        ease-in-out;
}
*/
/*
.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    -ms-flx: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
*/
/*
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem)
        calc(.75em + .375rem);
}

.is-invalid-.invalid-feedback,
.is-invalid-.invalid-tooltip,
.was-validated:invalid-.invalid-feedback,
.was-validated:invalid-.invalid-tooltip {
    display: block;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.bg-light {
    background-color: #f8f9fa!important;
}
*/
