/* Used by FileSelector */
.Modal-full-height {
    height: calc(100% - 3.5em);
}


.CellButton {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 1;
    color: #007bff;
}

.CellButton:focus {
    color: #007bff;
}


.CellDateEditor-textInput {
    margin: 0px;
    padding: 0px 2px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}


.CellTextEditor-textInput {
    margin: 0px;
    padding: 0px 2px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.CellTextEditor-textDisplay {
    border: none;
    background-color: inherit;
    border-radius: 0;
}


.CellSelectEditor-select {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 0;
}

.CellSelectEditor-display {
    border: none;
    background-color: inherit;
    border-radius: 0;
}
/*
.CellToggleSelectEditor-button {
    margin: 0px;
    padding: 0px 0px;
    height: calc(1.5rem + .3rem + 2px);
    border-radius: 1;
}
*/



/*
 A plain Checkbox button, 
 "Checkbox" displays only the box
 "Checkbox Checkbox-checked" displays the box checked.
*/
.Checkbox {
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
}
.Checkbox::before {
    font-weight: 600;
}

.Checkbox-checked::before {
    content: '✓';
    position: relative;
    top: -2px;
}

.Checkbox-label {
    padding-left: 0.5rem;
}


.CheckboxField-editor {
    padding-top: 0.5rem;
    border: none;
}


.DateField-editor {
    text-align: center;
    max-width: 7rem;
}

.DateOccurrenceEditor-NumberField {
    max-width: 5rem;
    text-align: right;
}



.DropdownSelector-dropdownList {
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}


.Field-input-form-control {
    flex: 1 1 0%;
    width: 100%;
}

/** For indenting a Field component from the previous component 
that's on the same line */
.Field-indent {
    padding-left: 2rem;
}

/** For putting wide space after a Field component */
.Field-postIndent {
    padding-right: 2rem;
}

/** For putting a single space after a Field component */
.Field-postSpace {
    padding-right: 1rem;
}

/** For a container of Field components on the same line **/
.FieldContainer-inline {
    display: flex !important;
}

/** For edit boxes in a field */
.Field-editor {
    height: calc(1.5em + .75rem + 2px);
    padding-left: .25rem;
    padding-right: .25rem;
}


.InfoReporter-body {
    margin-left: 2rem;
    margin-right: 2rem;
}


/*
.MenuList {
}
*/

.MenuList-itemsContainer {
    height: auto;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding-top: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.MenuList-itemsContainer:focus {
    outline: none;
}

.MenuList-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.MenuList-item.active, .MenuList-submenu.active {
    background-color: rgba(0, 0, 0, 0.075);
    text-decoration: none !important;
    color: inherit !important;
}

.MenuList-item.disabled, .MenuList-submenu.disabled {
    color: #6c757d !important;
    pointer-events: none;
    background-color: transparent;
    text-decoration: none !important;
}

.MenuList-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.MenuList-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}

.MenuList-submenu {
    position: relative;
    text-align: left;
}

/* This puts a right pointing arrow at the right side */
.MenuList-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.MenuList-submenu .MenuList {
    top: 0;
    left: 100%;
    margin-top: -1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

/*
.MenuList-submenu:hover > .MenuList {
    display: block;
}
*/


.MultiColumnList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}



.PageBody {
    overflow: auto;
}


.Popup {
    display: none;
    height: auto;
}

.Popup.show {
    display: block;
}

.Popup-container {
    position: fixed;
    /*top: 100%;*/
    /*left: 0;*/
    z-index: 1000;
    float: left;
    min-width: 10rem;
    /*padding: .5rem 0;
    margin: .125rem 0 0;*/
}

.Popup-pointer {
    position: absolute;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

.Popup-pointer.left {
    right: 100%;
    border-right-color: #555;
}

.Popup-pointer.right {
    left: 100%;
    border-left-color: #555;
}

.Popup-pointer.top {
    bottom: 100%;
    border-bottom-color: #555;
}

.Popup-pointer.bottom {
    top: 100%;
    border-top-color: #555;
}

.Popup-pointerContainer {
    display: flex;
}

.Popup-pointerContainer.left {
    flex-direction: row;
}

.Popup-pointerContainer.right {
    flex-direction: row;
}

.Popup-pointerContainer.top {
    flex-direction: column;
}

.Popup-pointerContainer.bottom {
    flex-direction: column;
}


.RowTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.RowTableCell {
    padding: .3rem; /* or .75 */
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.RowTableHeader {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableHeaderRow {
    display: flex;
    flex-wrap: nowrap;
}


.RowTableHeaderCell {
    height: max-content;
}


.RowTableBody {
    vertical-align: middle;
    overflow-y: scroll;
    overflow-x: hidden;
}

.RowTableRow {
    display: flex;
    flex-wrap: nowrap;
}

.RowTableBody:focus {
    outline: none;
}

.table-striped .RowTableRow:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-active .RowTableRow, .table-active>.RowTableRowCell {
    background-color: rgba(0, 0, 0, 0.075);
}

/*
.RowTableRowCell {
}
*/

.RowTableFooter {
    vertical-align: middle;
    overflow: hidden;
}

.RowTableFooterRow {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    overflow: hidden;
}


.RowTableFooterCell {
    height: max-content;
}


.RowTableColumnResizerCell {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.RowTableHeaderCell .RowTableColumnResizerCell .RowTableColumnResizer {
    border-color:rgba(0, 0, 0, .15);
    border-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
}

.RowTableColumnResizerCell-cell {
    width: 100%;
}

.RowTableColumnResizer {
    margin-left: 4px;
    padding-left: 1px;
    padding-right: 0px;
    text-align: right;
}

.RowTableColumnResizer.enabled:hover {
    cursor: col-resize;
    border-color: #007bff;
    border-style: solid;
    background-color: #007bff;
}

.RowTableColumnResizerTracker {
    background-color: #007bff;
    margin-left: 0px;
    padding-left: 1px;
    padding-right: 0px;
    z-index: 1000;
}


.RowTableColumnMover {
    width: 100%;
    height: 100%;
}

.RowTableColumnMover.enabled:hover {
    cursor: grab;
}

.RowTableColumnMover.enabled.tracking:hover {
    cursor: grabbing;
}

.RowTableColumnMoverTracker {
    background-color: #007bff42;
    margin-left: 0px;
    padding-left: 1px;
    padding-right: 0px;
    z-index: 1000;
}

/*
.RowTableFooterCell {

}
*/


.RowTableCell .invalid-feedback {
  opacity: 1.0;
  background-color: white;
  z-index: 1000;
}


.CollapsibleRowTable-expand-collapse-container {
    display: flex;
    flex-direction: row;
}

.CollapsibleRowTable-expand-collapse-button {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px #fff;
    background-color: transparent;
    opacity: 0.5;
    line-height: 1.5rem;
    padding: 0;
}


.Scrollable-menu {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
  

.QuantityDisplay {
    text-align: right;
}


.SeparatorBar {
    border-bottom: 1px solid #dee2e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.TabCloseButton {
    margin-left: 0.5rem;
}



.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip-popup {
    /* Need hidden to avoid hover on the popup */
    visibility: hidden;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in 1s;
}

.Tooltip-detector:hover + .Tooltip-popup {
    visibility: visible;
    opacity: 1;
}

.Tooltip-content {
    width: max-content;

    padding: 5px;
    margin: 0;

    font-size: 1rem;
    color: #fff;
    text-align: center;

    background-color: #555;
    border-radius: 6px;
}


.Visibility-hidden {
    visibility: hidden !important;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}
