html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /*max-width: 38rem;*/
  /*padding: 1rem;*/
  display: -ms-flexbox;
  display: flex;
}

.fixed-width-button {
  width: 5rem;
}


/* Make this a little darker than Bootstrap's */
.dropdown-item:hover {
  background-color: rgba(0,0,0,0.075);
}


.undo-tooltip {
  position: relative;
  display: inline-block;
}

.undo-tooltip .undo-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: 100%;
  right: 0%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.undo-tooltip .undo-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.undo-tooltip:hover .undo-tooltiptext {
  visibility: visible;
  opacity: 1;
}




.pageTitle {
  margin-top: 0.5rem;
}


.RowTableContainer {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}


/*
.AccountRegister {
}
*/

/*
.AccountsList {
}
*/


.header-base  {
  /* TEST!!! */
  /*border: 1px solid #666666;*/
  flex-grow: 0;
}

.cell-base {
  /* TEST!!! */
  /*border: 1px solid #333333;*/
  flex-grow: 0;
}


.date-base {
  text-align: center;
}

.date-cell {
  flex-basis: 10rem;
}


.refNum-base {
  text-align: center;
}

.refNum-cell {
  flex-basis: 6rem;
}


.name-base {
  text-align: left;
}

.name-cell {
  flex-grow: 2;
}


.description-base {
  text-align: left;
}

.description-header {
  flex-grow: 2;
}

.description-cell {
  flex-grow: 2;
}


.accountType-base {
  text-align: left;
}

.accountType-cell {
  flex-grow: 1;
}


.accountId-base {
  text-align: left;
}

.accountId-header {
  flex-grow: 2;
}

.accountId-cell {
  flex-grow: 2;
}


.splits-base {
  text-align: left;
}

.splits-header {
  flex-grow: 2;
}

.splits-cell {
  flex-grow: 2;
}


.reconcile-base {
  text-align: center;
}

.reconcile-cell {
  flex-basis: 3rem;
}


.splitQuantity-base {
  text-align: right;
}

.splitQuantity-header {
  text-align: center;
  flex-basis: 9rem;
}

.splitQuantity-cell {
  flex-basis: 9rem;
}


.actionType-header {
  flex-basis: 14rem;
}


.shares-base {
  text-align: right;
}

.shares-header {
  text-align: right;
  flex-basis: 10rem;
}

.shares-cell {
  flex-basis: 10rem;
}


.monetary-base {
  text-align: right;
}

.monetary-header {
  text-align: right;
  flex-basis: 10rem;
}

.monetary-cell {
  flex-grow: 0;
  flex-basis: 10rem;
}

.fees-header {
  flex-grow: 0;
  flex-basis: 4rem;
}

.price-header {
  flex-grow: 0;
  flex-basis: 4rem;
}


.percent-base {
  text-align: right;
}

.percent-header {
  text-align: right;
  flex-basis: 8rem;
}

.percent-cell {
  flex-grow: 0;
  flex-basis: 8rem;
}


.priceItemType-base {
  text-align: left;
}

.priceItemType-cell {
  flex-grow: 0;
}



.button-input {
  border-width: 1px;
  border-radius: 2px;
  border-color: darkgray;
  text-align: center;
}

.all_none-button {
  flex-basis: 5rem;
}


.MultiSplitsEditor-table {
  padding-top: 0.5rem;
}

/*
.PriceRetrieverWindow-controls {
}
*/

.PriceRetrieverWindow-retrieveButton {
  max-width: 12rem;
}

.PriceRetrieverWindow-dateControl {
  max-width: 18rem;
}

.PriceRetrieverWindow-ticker-select-button {
  margin: 1rem;
  width: 10rem;
  vertical-align: middle;
  justify-items: center;
}


.TickerSelector {
  max-height: inherit;
  height: inherit;
  overflow: scroll;
}

.TickerSelector-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  width: 16rem;
  height: 3rem;
}

.TickerSelector-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.TickerSelector-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.TickerSelector-item.active {
  z-index: 2;
  /*color: #fff;*/
  background-color: rgba(0,0,0, 0.075);
  /*border-color: #007bff77;*/
}

.TickerSelector-item.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.ticker-base {
  text-align: left;
  left: 1rem;
}
.ticker-checked::before {
    position: absolute;
    left: -.4rem;
    content: '✓';
    font-weight: 600;
}


.ReconcilerWindow-setup_date_editor {
  text-align: center;
  width: 12rem;
}

.ReconcilerWindow-setup_balance_editor {
  text-align: right;
  max-width: 12rem;
}


.ReconcilingWindow-mainContainer {
  height: 100%;
  align-content: stretch;
  justify-content: space-between;
}


.ReconcilingWindow-splitInfosContainer {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/*
.ReconcilingWindow-summaryContainer {

}
*/

.ReconcileSplitInfosSelector {
  border: 1px solid #dee2e6;
}

.ReconcilingWindow-splitInfos-title {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  font-size: larger;
  font-weight: bold;
}

.ReconcilingWindow-splitInfos {
  height: 100%;
  align-content: stretch;
  justify-content: space-between;
}

.ReconcilingWindow-splitInfoTotal_value {
  text-align: right;
  max-width: 10rem;
}

.ReconcilingWindow-splitInfos-total {
  padding-top: 0.5rem;
  /*padding-right: 1.5rem;*/
  padding-right: 0rem;
  padding-bottom: 0.5rem;
}

.ReconcilingWindow-summary_row {
  max-height: 1.5rem;
  padding-right: 1.5rem;
}

.ReconcilingWindow-summary_label {
  text-align: right;
}

.ReconcilingWindow-summary_value {
  text-align: right;
  max-width: 10rem;
}

.ReconcilingWindow-summary_date {
  text-align: right;
  max-width: 10rem;
}


.ModalPage-inner_rows_container {
  text-align: left;
  margin: auto;
  width: 100%;
  padding: 15px;
}


.h-inherit {
  height: inherit;
}

.w-inherit {
  width: inherit;
}


.failed_msg {
  color: darkred;
}

.success_msg {
  color: darkgreen;
}